<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/sidemenu.css">
   <link rel="stylesheet" href="../css/mainContainer.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
   <title>Document</title>
</head>

<body>
<header>
   <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
         <a class="navbar-brand" href="#">Navbar</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
      
         <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
            <li class="nav-item">
               <a class="nav-link active" href="#">Home
                  <span class="visually-hidden">(current)</span>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
               <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
               </div>
            </li>
            </ul>
            <form class="d-flex">
            <input class="form-control me-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
         </div>
      </div>
   </nav> -->
      
   <!-- <div id="side-menu" class="menu-collapsed">
      <div id="header">
            <div id="title"><span>sidenav</span></div>
            <div id="menu-btn">
               <div class="btn-option"></div>
               <div class="btn-option"></div>
               <div class="btn-option"></div>
            </div>
      </div>
   perfil
      <div id="profile">
            <div id="photo"><img src="../profile.jpg" alt=""></div>
            <div id="user-name"><span> Gerardo R.</span></div>
      </div>
   iconos redireccion  
      <div id="menu-items">
            <div class="item">
               <a href="#" class="">
                  <div class="icon"><i class="far fa-smile-wink"></i></div>
                  <div class="title">hola</div>
               </a>
            </div>

            <div class="item separator">
            </div>
      </div>
   </div> -->
   
</header>

<!-- contenido -->
<div id="main-container">
   <div id="card-movie" class="card border-dark mb-3" style="max-width: 20rem;">
      <div class="card-header">NEW movie <a href="../views/moviesModul/addMovies/addMovie.html"><i class="plus-btn bi bi-plus-square-fill" ></a></i></div>
      <div class="card-body">
         <h4 class="card-title">Add new movie</h4>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
   </div>
   <div id="card-movie" class="card border-dark mb-3" style="max-width: 20rem;">
      <div class="card-header">NEW CATEGORY <a href="../views/moviesModul/category/addCategory.html"><i class="plus-btn bi bi-plus-square-fill" ></a></i></div>
      <div class="card-body">
         <h4 class="card-title">add new category</h4>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
   </div>
   <div id="card-movie" class="card border-dark mb-3" style="max-width: 20rem;">
      <div class="card-header">REPORT OF MOVIES <a href=""><i class="plus-btn bi bi-plus-square-fill" ></a></i></div>
      <div class="card-body">
         <h4 class="card-title">Dark card title</h4>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
   </div>
</div>

   <!--Container Main end-->
   <script src="../js/navbar.js"></script>
   <script src="../js/sidemenu.js"></script>
   <script src="../js/models/movieModel.js"></script>
</body>
</html>