#main-container{
	width: 700px;
	padding: 50px;
	margin-left: 30%;
	border: solid 1px #121212;
	margin-top: 60px;
	border-radius: 2px;
	box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.1);
	background: white;
}
.btn{
	margin-top: 40px;
	margin-right: 20px;
	box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.1);

}


#title-form{
	margin-bottom: 30px;
}