<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../../css/listUsers.css">
	<link rel="stylesheet" href="../../../css/sidemenu.css">
	<link rel="stylesheet" href="../../../css/navbar.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<title>Document</title>
</head>
<body>
	<header>
		<!-- navbar & sidemenu -->
	</header>

	<div id="main-container">
		<h2 id="title-form">LIST USERS</h2>

		<table class="table table-hover">
			<thead>
				<tr class="tr-contain">
					<th scope="col">ID</th>
					<th scope="col">USER NAME</th>
					<th scope="col">EMAIL</th>
					<th scope="col">OPTIONS</th>
				</tr>
			</thead>
			<tbody id="body-table">
				<tr class="table-secondary tr-contain">
					<th scope="row">12121</th>
					<td>gerardrome</td>
					<td>gerardrome@mail.com</td>
					<td>X</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<br>
	<br>
	
	<script src="../../../js/navbar.js"></script>
	<script src="../../../js/sidemenu.js"></script>
	<script src="../../../js/users/listUser.js" type=""></script>
	<script src="../../../js/models/userModel.js" type="module"></script>
</body>
</html>